    <footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p class="text-muted">&copy; {{ site.time | date: '%Y' }} <a href="{{ site.baseurl }}">{{ site.title }}</a>. All Rights Reserved.</p>
				</div>
				<div class="col-md-6 text-right hidden-xs">
					<a href="https://twitter.com/{{ site.twitter.username }}" target="_blank">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
					</a>
					<a href="https://github.com/{{ site.github.username }}" target="_blank">
						<span class="fa-stack">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-github fa-stack-1x fa-inverse"></i>
						</span>
					</a>
					</p>
				</div>	
			</div>	
		</div>	
    </footer>